<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layouts/defaultTemplate">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div layout:fragment="content">
        <h2>Login</h2>
        <br/>

        <form action="#" th:action="@{doLogin}" th:object="${loginModel}" method="post">
            <table style="font-family: Merriweather, serif;
                    font-size: 16px;">
                <tr>
                    <td style="padding-right: 10px;">Username:</td>
                    <td style="padding-bottom: 5px">
                        <input type="text" th:field="*{username}" >
                    </td>
                    <td>
                        <h5 style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
                            Username Error
                        </h5>
                    </td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td style="padding-bottom: 5px">
                        <input type="password" th:field="*{password}">
                    </td>
                    <td>
                        <h5 style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                            Password Error
                        </h5>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align: center;"><input type="submit" value="Submit"></td>
                </tr>
            </table> 
        </form>
        <br/><p>Don't have an account?<br/>
            <a th:href="@{/registration/}" style="margin-top: 1px;">
                Register here
            </a>
        </p>
    </div>
</body>
</html>