<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layouts/defaultTemplate">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div layout:fragment="content">
        <h1 style="font-size: 500%;">Welcome to the Movie Library!</h1>
        <div class="container" style="background-color:#D2DFEF;
         margin: 15px; padding: 15px; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,.2);">
             <h2>Why a Physical Movie Library?</h2>
                 
<div class="col-md-12">
  <p>
    Within the last year, my wife and I have been building a collection of our favorite movies.<br><br>

    We chose to start the collection for three reasons:<br>

    1.<br> We were sick of having to jump between 5 different streaming services to search for a movie that
    might not be available on any of them.<br><br>

    2.<br> We want to know what our future children are watching, and the best way to do that is to avoid streaming
    services and build a library of a variety of movies that uphold our values.<br><br>

    3.<br> Multiple streaming services are becoming too expensive, and prices just keep rising! Additionally,
     the pros of cheap, ad-free streaming or "password sharing" are beginning to disappear across platforms.<br><br>

    While it is fun stumbling upon a movie to add to the collection out in the wild, sometimes it is hard to keep
    track of what movies you own or are still searching for. 
    <br><br>This is where this application comes in handy.<br><br>
    This application allows you to keep track of your movie collection, keeping track of movies you are still searching for,
     and an overall watch list of movies you have seen!.
  </p>
</div>


    </div>
</body>
</html>