<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layouts/defaultTemplate">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    
    <div layout:fragment="content">
        <h1>Registration</h1>
        <br/>
        <form action="#" th:action="@{doRegistration}" th:object="${registrationModel}" method="post">
            <table style="font-family: Merriweather, serif;
                    font-size: 16px;"> 
                <tr>
                    <td style="padding-right: 15px;">First Name:</td>
                    <td style="padding-bottom: 5px">
                        <input type="text" th:field="*{firstName}">
                    </td>
                    <td>
                        <h5 style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
                            First Name Error
                        </h5>
                    </td>
                </tr>
                <tr>
                    <td>Last Name:</td>
                    <td style="padding-bottom: 5px">
                        <input type="text" th:field="*{lastName}">
                    </td>
                    <td>
                        <h5 style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
                            Last Name Error
                        </h5>
                    </td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td style="padding-bottom: 5px">
                        <input type="email" th:field="*{email}">
                    </td>
                    <td>
                        <h5 style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                            Email Error
                        </h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        Username:
                    </td>
                    <td style="padding-bottom: 5px">
                        <input type="text" th:field="*{username}" >
                    </td>
                    <td>
                        <h5 style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
                            Username Error
                        </h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        Password:
                    </td>
                    <td style="padding-bottom: 5px">
                        <input type="password" th:field="*{password}">
                    </td>
                    <td >
                        <h5 style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                            Password Error
                        </h5>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align: center;"><input type="submit" value="Submit"></td>
                </tr>
            </table> 
        </form>
    </div>
</body>
</html>